<div class="login">
	<div class="box">
		<h2 class="heading">Login {{ loginType }}</h2>

		<form [formGroup]="theForm" class="form">
			<div class="form-group col">
				<label for="email">Email</label>
				<input id="email" type="email" class="form-control" placeholder="Enter Email" formControlName="email">
			</div>

			<div class="form-group col">
				<label for="password">Password</label>
				<input id="password" type="password" class="form-control" placeholder="Enter Password" formControlName="password">
			</div>
			
			<div class="actions">
				<button class="btn" (click)="onLogin()" [disabled]="theForm.invalid || disableLoginBtn">
					<span *ngIf="!disableLoginBtn">Login</span>
					<div class="flex" *ngIf="disableLoginBtn">
						<span class="spinner-border" role="status" aria-hidden="true"></span>
						<span class="sr-only ml-3">Login...</span>
					</div>
				</button>
			</div>
		</form>
	</div>
</div>
