.tenders {
	.header {
		display: flex;
		justify-content: space-between;
		margin-bottom: 2rem;
		background-color: #fff;
		padding: 2rem;
	}

	.content {
		background-color: #fff;
		padding: 2rem;
	}

	.pending {
		color: red;
	}

	.approved {
		color: green;
	}

	table {
		td {
			vertical-align: middle;
		}

		.action-cell {
			width: 16rem;
			min-width: 16rem
		}
	}

	.fg-primary {
		color: var(--color-primary);
		font-weight: 600;
	}

	.tender-number {
		font-size: 3rem;
		font-weight: 600;
		color: var(--color-primary);
	}

	.btn-primary {
		background-color: var(--color-primary);
		border-color: var(--color-primary);
	}

	.btn-secondary {
		background-color: #999;
		border-color: #999;
		font-size: 1.4rem !important;
	}

	.message-panel {
		background: #fff;
		margin-bottom: 1rem;
		padding: 2rem;
		border-radius: 1rem;
		text-align: center;
		font-size: 2rem;
		color: #0da40d;
		font-weight: 600;
	}
}