<div class="tenders">
	<div class="header">
		<div class="flex">
			<h2 class="mr-3">Tenders</h2>
			<input class="form-control" type="text" placeholder="Search tender by number" [formControl]="searchFC">
		</div>
	</div>

	<div class="content">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Tender Number</th>
					<th scope="col">Type</th>
					<th scope="col">Opening Date</th>
					<th scope="col">Closing Date</th>
					<th>Remaining time to close</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let tender of tenders;">
					<td class="tender-number">{{ tender.tenderNumber }}</td>
					<td>{{ tender.type }}</td>
					<td>{{ tender.openingDate | date:'dd MMM YYYY, hh:mm a' }}</td>
					<td>{{ tender.closingDate | date:'dd MMM YYYY, hh:mm a' }}</td>

					<td class="fg-primary">{{ tender.remainingTime === 0 ? 'Tender is closed' : tender.remainingTime }}</td>
					<td>
						<button *ngIf="tender.remainingTime != 0 && 
								(user && ['Consultant', 'Contractor', 'Supplier'].includes(user.type))" 
							class="btn btn-primary" (click)="onParticipate(tender)">Participate
						</button>
					</td>
				</tr>

				<tr *ngIf="tenders.length === 0;">
					<td colspan="5">No tenders added yet.</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>