.tenders {
	.header {
		display: flex;
		justify-content: space-between;
		margin-bottom: 2rem;
		background-color: #fff;
		padding: 2rem;
	}

	.content {
		background-color: #fff;
		padding: 2rem;
	}

	table {
		td {
			vertical-align: middle;
		}

		.action-cell {
			width: 24rem;
			min-width: 24rem
		}
	}

	.timer-cell {
		width: 35rem;
	}

	.fg-primary {
		color: var(--color-primary);
		font-weight: 600;
	}

	.tender-number {
		font-size: 3rem;
		font-weight: 600;
		color: var(--color-primary);
	}

	.btn-secondary {
		background-color: #999;
		border-color: #999;
		font-size: 1.4rem !important;
	}

	.btn-enter-tender {
		background-color: #e4ba00;
		color: #fff;
	}
}