<div class="tenders">
	<div class="header">
		<div class="flex">
			<h2 class="mr-3">Tenders</h2>
			<input class="form-control" type="text" placeholder="Search tender by number" [formControl]="searchFC">
		</div>
	</div>

	<div class="content">
		<table class="table">
			<thead>
				<tr>
					<th>Tender Number</th>
					<th>Tender Id</th>
					<th>Type</th>
					<th>Opening Date</th>
					<th>Closing Date</th>
					<th>Documents</th>
					<th>Remaining time to close</th>
					<th class="action-cell">Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let tender of tenders;">
					<td class="tender-number">{{ tender.tenderNumber }}</td>
					<td>{{ tender.tenderId }}</td>
					<td>{{ tender.type }}</td>
					<td>
						<div>{{ tender.openingDate | date:'dd MMM YYYY' }}</div>
						<div>{{ tender.openingDate | date:'hh:mm a' }}</div>
					</td>
					<td>
						<div>{{ tender.closingDate | date:'dd MMM YYYY' }}</div>
						<div>{{ tender.closingDate | date:'hh:mm a' }}</div>
					</td>

					<td class="fg-primary">
						<span *ngIf="tender.remainingTime === 0">Tender is closed</span>
						<span *ngIf="tender.remainingTime === -1">Tender is not started yet</span>
						<span *ngIf="tender.remainingTime !== 0 && tender.remainingTime !== -1">{{ tender.remainingTime }}</span>
					</td>

					<td class="action-cell">
						<button class="btn btn-enter-tender mr-3" 
							(click)="onViewTenderDetails(tender)">Enter Tender
						</button>

						<button class="btn btn-secondary" *ngIf="tender.remainingTime === 0 && tender.bid?.status" 
							(click)="onViewPricing(tender)">View Pricing
						</button>
					</td>
				</tr>

				<tr *ngIf="tenders.length === 0;">
					<td colspan="5">No tenders added yet.</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>