.create-account {
	box-shadow: rgb(0 0 0 / 16%) 0 3px 6px;
	background-color: #fff;
	padding: 2rem 3rem;

	.heading {
		font-weight: 600;
		margin-bottom: 2rem;
	}

	.form-group {
		margin: 0 4rem 2rem 0;
	}

	.verify-field {
		width: 15%;
		margin-right: 2rem;
	}

	.actions {
		display: flex;
		justify-content: center;

		.btn {
			background-color: var(--color-primary);
			color: #fff;
			padding: 0.8rem 2rem;
			font-size: 1.4rem;
		}
	}

	.message {
		font-size: 2.2rem;
		color: red;
	}

	.company-label {
		font-size: 1.6rem;
		font-weight: 600;
		margin-bottom: 1rem;
		border-bottom: 1px solid #d8d4d4;
	}
}