.navbar {
	height: 6rem;
	padding: 0 3rem;
	background-color: #fff;
	box-shadow: rgb(56 69 84 / 10%) 0 1px 6px;

	.logo {
		width: 15rem;
		height: auto;
	}

	ul {
		height: 100%;

		li {
			display: flex;
			align-items: center;
			padding: 0 1.7rem;
			cursor: pointer;

			&:hover {
				background-color: var(--color-gray);
			}
		}
	}

	.user-type {
		font-size: 1.2rem;
		font-weight: 600;
	}

	.active {
		background: rgba(138, 21, 56, 0.05);
   		a {
			color: var(--color-primary) !important;
		}
	}
}