<div class="bids" *ngIf="tender">
	<div class="box">Bids prices for Tender #{{tender.tenderNumber}}</div> 

	<div class="content">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Company</th>
					<th scope="col">Duration</th>
					<th scope="col">Price</th>
					<th scope="col">Status</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let bid of bids;">
					<td>{{ bid.user.company.name }}</td>
					<td>{{ bid.durationInNumbers }}</td>
					<td>{{ bid.priceInNumbers }}</td>
					<td [class]="bid.status?.toLowerCase()">{{ bid.status }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>