.projects {
	.header {
		display: flex;
		justify-content: space-between;
		margin-bottom: 2rem;
		background-color: #fff;
		padding: 2rem;
	}

	.content {
		background-color: #fff;
		padding: 2rem;
	}
}