<div class="projects">
	<div class="header">
		<div class="flex">
			<h2 class="mr-3">Projects</h2>
			<input class="form-control" type="text" placeholder="Search Project by name" [formControl]="searchFC">
		</div>

		<button class="btn btn-primary" (click)="createProject();">Create Project</button>
	</div>

	<div class="content">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Project Number</th>
					<th scope="col">Name</th>
					<th scope="col">Location</th>
					<th scope="col">Type</th>
					<th scope="col">Description</th>
					<th scope="col">Status</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let project of projects;">
					<td>{{ project.projectId }}</td>
					<td>{{ project.name }}</td>
					<td>{{ project.location }}</td>
					<td>{{ project.type }}</td>
					<td>{{ project.description }}</td>
					<td>
						<span [ngClass]="project.isApproved ? 'approved' : 'pending'">
							{{ project.isApproved ? 'Approved' : 'Not Approved' }}
						</span>
					</td>
				</tr>

				<tr *ngIf="projects.length === 0;">
					<td colspan="6">No projects created yet.</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>